apiVersion: v1
kind: Service
metadata:
  name: kubernetes-flyio-app
  labels:
    app: kubernetes-flyio-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: kubernetes-flyio-app
